.card{
  width: 150px;
  margin: 15px;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  }

.card img{
  max-width: calc(100% - 20px);
  max-height: 160px;
  margin: 10px;
}

.quantity{
  display:flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

h4{
  margin: 0;
  text-align: center;
  padding: 10px;
  background-color: rgb(87, 87, 87);
  color: white;

}